body{
    height:100%;
    background-image: url("back.jpg");
}   
.gagnamstyel{
    width:1000px;
    margin:auto;
}
.left
{
    float:left;
    
}
.right{
    float:right;
}

.header {
    min-width: 650px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    background: url("../balatongyorock/panorama.jpg") center center no-repeat;
    background-size: cover;
}