body{
    height:100%;
    background-image: url("back.jpg");
}   
.gagnamstyel{
    width:1000px;
    margin:auto;
}
.left
{
    float:left;
    width:450px;
    background-color:#5b9cea;
    padding:20px;
    
}
.right{
    float:right;
    width:450px;
    background-color:#5b9cea;
    padding:20px;
}
table{
    text-align:center;
    background-color:#b0d1f1;
    border-collapse: collapse;
    
}

.header {
    min-width: 650px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    background: url("../balatongyorock/panorama.jpg") center center no-repeat;
    background-size: cover;
    height:250px;
}
td{
    border:1px solid black;
    
}
img{
    float:right;
}
p{
    font-weight:bold;
}